@use '@angular/material' as mat;

@import '~@angular/material/theming';
@import './themes/theme.scss';
@import './themes/custom.theme'; // ? changed

@include mat.core($my-theme); // ? changed
@include mat.all-component-themes($my-theme); // ? changed
@include custom-theme($my-theme);

.dark-theme {
  @include mat.core($dark-theme);
  @include mat.all-component-themes($dark-theme);
  @include custom-theme($dark-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.26);
}
